
![alt text](https://s3-ap-south-1.amazonaws.com/av-blog-media/wp-content/uploads/2018/03/pandas.jpg)

# Spreadsheets and Pandas

- Python works well with speadsheets
 - using a library called Pandas
- lots of built-in methods for doing many common tasks
 - data manipulation
 - data visualization
 - statistics
 - and much much more...

- in Pandas a spreadsheet is called a DataFrame

## Getting some data
 - fake EQAO data
 - columns include:
  - reading, writing, math, gender, IEP, school name

In [ ]:
import pandas as pd
import numpy as np

## Reading data into Python
- In Python a spreadsheet is called a "DataFrame" as in other languages
- we use "df" for short as a convention

In [ ]:
df=pd.read_csv('sample_EQAO_data.csv')
df.head()

## The number of rows in the data

In [ ]:
len(df)

2133

## The top or bottom *N* rows

In [ ]:
df.head(5)

In [ ]:
df.head(10)

In [ ]:
df.tail(2)

## Selecting columns

In [ ]:
df.columns

Index(['Student_number', 'SchoolName', 'reading_level', 'reading_raw_score',
       'writing_level', 'writing_raw_score', 'math_level', 'meath_raw_score',
       'Gender', 'IEP', 'Region', 'StudentName'],
      dtype='object')

In [ ]:
df['Region'].tail(2)

2131    Oakville
2132    Oakville
Name: Region, dtype: object

In [ ]:
df[['Student_number', 'Region']]

In [ ]:
df['SchoolName'].unique()

In [ ]:
len(df['SchoolName'].unique())

In [ ]:
df['Gender'].unique()

## <font color=blue>How would you select reading_level, writing_level, and math_level from the DataFrame?</font>
  
```python
A. df['reading_level'] + df['writing_level'] + df['math_level']
B. df['reading', 'writing', 'math']
C. df['reading_level', 'writing_level', 'math_level']
D. df[['reading_level', 'writing_level', 'math_level']]
```

## Basic aggregates

In [ ]:
df['IEP'].sum()

201

In [ ]:
df['IEP'].sum()/df.count()*100

In [ ]:
df['reading_raw_score'].mean()

1.8188466947960618

In [ ]:
df['reading_raw_score'].min()

-99.0

In [ ]:
df['reading_raw_score'].max()

4.9

In [ ]:
df.mean()

In [ ]:
df['Gender'].describe()

count    2133.000000
mean        1.477731
std         0.499621
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         2.000000
Name: Gender, dtype: float64

In [ ]:
df.describe()

## <font color=blue>How would you use find the average (i.e., mean) for only the reading_level and writing_level columns?</font>
  
```python
A. mean(df['reading_level'] + df['writing_level'])
B. df['reading', 'writing'].mean
C. df[['reading_level', 'writing_level']].mean()
D. df['reading_level', 'writing_level'].mean()
```

## Finding and replacing

In [ ]:
df=df.replace(-99,np.nan)

In [ ]:
df.describe()

In [ ]:
df['SchoolName'].unique()

In [ ]:
df['SchoolName'].replace('School','')
df['SchoolName'].unique()

In [ ]:
df=df.replace(' Catholic Elementary School','', regex=True)
df['SchoolName'].unique()

## <font color=blue>What command would remove "Elementary School" from the "SchoolName" column?</font>

```python
get_rid='Elementary School'

A. df.remove(get_rid, regex=True)
B. df.replace(get_rid, '')
C. df.replace(get_rid, '', regex=True)
D. df.replace(get_rid, regex=True)

```

## Adding and removing columns

In [ ]:
df.columns

Index(['Student_number', 'SchoolName', 'reading_level', 'reading_raw_score',
       'writing_level', 'writing_raw_score', 'math_level', 'meath_raw_score',
       'Gender', 'IEP', 'Region', 'StudentName'],
      dtype='object')

In [ ]:
df['math_raw_score']=df['meath_raw_score']
df=df.drop(columns=['meath_raw_score'])

In [ ]:
df.rename({'meath_raw_score': 'math_raw_score'})

Index(['Student_number', 'SchoolName', 'reading_level', 'reading_raw_score',
       'writing_level', 'writing_raw_score', 'math_level', 'Gender', 'IEP',
       'Region', 'StudentName', 'math_raw_score'],
      dtype='object')

In [ ]:
df['reading_minus_math']=df['reading_raw_score']-df['math_raw_score']

In [ ]:
df[['reading_raw_score', 'math_raw_score', 'reading_minus_math']]

## <font color=blue>How would we remove the 'reading_minus_math' column?</font>

```python
A. df.remove('reading_minus_math')
B. df.drop(columns=['reading_minus_math'])
C. df.drop('reading_minus_math')
D. df.replace('reading_minus_math', '')

```

## Selecting rows

- boolean filters

```python
df[True, True, False, False, True]

```

In [ ]:
df['Gender']==2

In [ ]:
df[df['Gender']==2]

## <font color=blue>How would we select only females?</font>

```python
A. df[df['Female']==2]
B. df[df['Gender']==1]
C. df[df['Male']!=2]
D. df[df['Gender']==2]

```

## Selecting rows and then aggregating

In [ ]:
df[df['Gender']==2].count()

In [ ]:
males=df['Gender']==2
males.sum()

1019

In [ ]:
df['reading_raw_score'][df['Gender']==1].count()

1089

In [ ]:
df['reading_raw_score'][df['Gender']==2].min()

In [ ]:
df['reading_raw_score'][df['Gender']==2].max()

## <font color=blue>What command would calculate the percentage of males?</font>
- males are coded as 2
-  to calculate percentage:
 - number of things you want, divided by total number of things, times 100
 
 
 
 ```python

A. all_males=df['Gender']==2 
   all_males.sum()/len(df)*100
  
B. df['Gender'].sum()/len(df)*100
C. df['Males']/df['Total']*100



```

## Advanced selection
- using AND and OR

 - AKA "&" and "|"
 
- mind your parentheses

In [ ]:
df[df['Gender'] == 1]

In [ ]:
df[df['IEP'] == 1]

In [ ]:
df[(df['Gender'] == 1) & (df['IEP']==1)]

In [ ]:
df[(df['Gender'] == 1) & (df['Region']=='Burlington')].count()

Gender            289
math_raw_score    282
dtype: int64

In [ ]:
df[(df['Gender'] == 1) & (df['IEP']==1) & (df['Region']=='Burlington')]

In [ ]:
df[(df['Region']=='Oakville') | (df['Region']=='Burlington')]

In [ ]:
df[(my_filter) & (another_filter)]

In [ ]:
df[(df['Gender'] == 2) & (df['IEP']==1) & (df['reading_raw_score']>3)]

In [ ]:
df[(df['Gender'] == 2) & (df['IEP']==1) & (df['reading_raw_score']>3) & ((df['Region']=='Burlington') | (df['Region']=='Oakville'))].describe()

In [ ]:
df['reading_raw_score'].corr(df['writing_raw_score'])

0.6931144761427454

In [ ]:
df['Region'].isin(['Oakville', 'Burlington'])

## <font color=blue>What would give us males with a math score above 3?</font>
- males are coded as 2
 
```python
A. df[(df['Gender'] == 2) & (df['math_level']>3)]
B. df[(df['Gender'] == 2) & (df['math_level']>=3)]
C. df[(df['Gender'] == 1) & (df['math_level']>3)]
```

## Advanced selection and aggregation

In [ ]:
df['reading_raw_score'][(df['Gender'] == 1) & (df['IEP']==1)].mean()

3.098360655737705

In [ ]:
df['reading_raw_score'][(df['Gender'] == 1) & (df['Region']=='Burlington')].mean()

In [ ]:
df['reading_raw_score'][(df['Gender'] == 1) & (df['IEP']==1) & (df['Region']=='Burlington')].mean()

In [ ]:
df['reading_raw_score'][(df['Region']=='Oakville') | (df['Region']=='Burlington')].mean()

In [ ]:
df['reading_raw_score'][(df['Region']=='Oakville') & (df['Region']=='Burlington')].mean()

In [ ]:
df[['reading_raw_score', 'writing_raw_score']][(df['Gender'] == 2) & (df['IEP']==1) & (df['reading_raw_score']>3)].mean()

In [ ]:
df['reading_raw_score'][(df['Gender'] == 2) & (df['IEP']==1) & (df['reading_raw_score']>3) & ((df['Region']=='Burlington') | (df['Region']=='Oakville'))].mean()

In [ ]:
df['reading_raw_score'][(df['Gender'] == 2) & (df['IEP']==1) & (df['reading_raw_score']>3) & ((df['Region']=='Burlington') | (df['Region']=='Oakville'))].describe()

count    21.000000
mean      3.576190
std       0.376702
min       3.100000
25%       3.300000
50%       3.500000
75%       3.700000
max       4.300000
Name: reading_raw_score, dtype: float64

## <font color=blue>What would give us the number people in Milton with a "math_level" less than 3?</font>

```python
A. df['math_level'][(df['math_level']<2) & (df['Region']=='Milton')].count()
B. df['math_level'][(df['math_level']<2) & (df['Region']=='Milton')].size()
C. df['math_level'][(df['math_level']<2) & (df['Region']=='Milton')].sum()
```

## Selection shortcuts

- isin

In [ ]:
df['reading_level'].isin([2]).head(8)

In [ ]:
df.head(8)

In [ ]:
df['reading_level'].isin([3,2])

In [ ]:
~df['reading_level'].isin([2]).head(8)

In [ ]:
df[df['reading_level'].isin([2])].head(8)

In [ ]:
df[(df['reading_level'].isin([1,2])) & (df['Region'].isin(['Oakville', 'Milton']))].head(8)

In [ ]:
df[(df['reading_level'].isin([1, 2])) & (df['Region'].isin(['Oakville', 'Milton']))]['Region'].unique()

In [ ]:
df[((df['reading_level'] == 1) | (df['reading_level']==2)) & ((df['Region']=='Oakville') | (df['Region']=='Milton'))].head(8)

In [ ]:
df.isin({'reading_level': [1,2], 'Region': ['Oakville', 'Milton']})

In [ ]:
df[df.isin({'reading_level': [1,2], 'Region': ['Oakville', 'Milton']})]

In [ ]:
df[df.isin({'reading_level': [1,2], 'Region': ['Oakville', 'Milton']})] [['reading_level', 'Region']].dropna()

In [ ]:
df.isin({'reading_level': [1,2], 'Region': ['Oakville', 'Milton']}).sum()

In [ ]:
df.isin([1,2,'Oakville', 'Milton']).sum()

In [ ]:
df.query("Region == 'Burlington'")

## <font color=blue>Which two expressions will produce the same result?</font>
<font color= red>Very Difficult</font>


```python
1. (df['math_level'].isin([1, 2])) & (df['Gender'].isin([2]))
2. df.isin([1,2])
3. (df['math_level']==1) | (df['math_level']==2) & (df['Gender']==2)
4. ((df['math_level']==1) | (df['math_level']==2)) & (df['Gender']==2)

```

## Grouping

- perhaps the most useful operation when dealing with data
- organize results by a categorical variable 
 - eg., school, region, scores above, below, or equal to some value)
- almost always used in conjunction with aggregation


![alt text](http://pbpython.com/images/groupby-example.png)

In [ ]:
df.groupby('SchoolName').mean()['reading_level']

In [ ]:
df.groupby('Region').mean()

In [ ]:
df.groupby(['SchoolName', 'IEP']).mean()['reading_level']

In [ ]:
df.groupby(['SchoolName', 'IEP', 'Gender']).mean()

In [ ]:
df.groupby('Region').mean()['reading_raw_score']

## <font color=blue>What would happen if you grouped by "StudentName" and calculated the mean?</font>
<font color= red>Tricky</font>

```
A. you'd get an error
B. you'd just get the original data back
C. you'd get the mean of everything but the region or school column
D. you'd get original data and duplicate names would be grouped
E. you'd get the original data or duplicate names would be grouped, and C
```

## Advanced grouping with aggregation
- remember how to select data?
- how would you use those techniques to filter the groups?
- defining our own little function for aggregation

In [ ]:
df['reading_level'][df['reading_level']==3].count()

In [ ]:
df.groupby('SchoolName')['reading_level'].count()

In [ ]:
df.groupby('SchoolName')['reading_level'].aggregate(['count', 'mean'])

In [ ]:
df.groupby('SchoolName')['reading_level'].aggregate('max')

In [ ]:
df.groupby('SchoolName')['reading_level'].aggregate('min')

In [ ]:
def my_function(x):
  my_count=x[(x>=2) & (x<4)].count()
  return my_count

df.groupby('SchoolName')['reading_level'].aggregate(my_function)

In [ ]:
def my_function(x):
  my_count=x[(x['reading_level']==3) & (x['writing_level']==4)].count()
  return my_count

df.groupby('SchoolName').aggregate(my_function)['reading_level']

In [ ]:
def my_function(x):
  my_vals=x['reading_raw_score'][(x['Gender'] == 2) & (x['IEP']==1)].mean()
  return my_vals

df.groupby('Region').aggregate(my_function)['reading_level']

In [ ]:
my_function=lambda x: x[x == 3].count()
df.groupby('SchoolName')['reading_level'].aggregate(my_function)

In [ ]:
df.groupby('SchoolName')['reading_level'].aggregate(lambda x: x[x == 3].count())

In [ ]:
my_function=lambda x: x[x > 3].count() / x.count() * 100
df.groupby('SchoolName')['reading_raw_score'].aggregate(my_function)

In [ ]:
my_function=lambda x: x[x > 3].count() / x.count() * 100
df.groupby('SchoolName')['reading_raw_score', 'writing_raw_score'].aggregate(my_function)

## <font color=blue>If you want to aggregate AND use groups, but none of the built-in aggregations are of interest to you...</font>


```
A. you can write your own aggregation function
B. you are out of luck
C. you have to write many lines of code
```

## Transforming
<font color= red>Tricky</font>
- often used with groups
- taking every row of the dataFrame and changing its value 
 - usually the new values are *based on each group*
 - however, you can also transform the data irrespective of the group (e.g., reverse code)
 
 
- baseline correction
- normalization
- imputing missing data

![alt text](http://pbpython.com/images/transform-example.png)

In [ ]:
df.head()

In [ ]:
my_new_num=6-my_old_num

In [ ]:
def revcode(x):
  lim=5
  x=lim-x
  return x

df['junk']=df['math_level'].transform(revcode)

In [ ]:
df[['junk', 'math_level']].head()

In [ ]:
def impute_mean(x):
  x=x.fillna(x.mean())
  return x

df['junk']=df.groupby('Region')['reading_level'].transform(impute_mean)

In [ ]:
df.groupby('Region')['reading_level'].mean()

In [ ]:
df[(df['Region']=='Oakville') & (df['junk'].round(6)==3.001776)][['junk', 'reading_level']]

In [ ]:
def subtract_mean(x):
  x=x-x.mean()
  return x

df['junk']=df.groupby('Region')['reading_level'].transform(subtract_mean)

In [ ]:
df.groupby('Region')['junk'].sum()

In [ ]:
def normalize(x):
  x=x/x.max()
  return x

df['junk']=df.groupby('Region')['reading_level'].transform(normalize)

In [ ]:
df.groupby('Region')[['junk', 'reading_level']].aggregate(['min', 'max'])

## <font color=blue>How does the *transform* method differ from the *aggregate* method?</font>


```
A. They are actually the same
B. aggregate returns a smaller dataset than transform
C. transform returns a smaller dataset than aggregate
D. only aggregate allows custom functions to be passed in
```